<div class="container">    
        <div class="row" >
            <div class="card col-md-3" *ngFor ="let item of productList">
                <img src="{{item.image}}" alt="">
                <h5 class="itemdata">{{item.title}}</h5>
                <p class="itemdata">{{item.description}}</p>               
                <p><strong>Price :</strong>{{item.price}}</p>
                <p>{{item.category}}</p>
                <button class="btn btn-primary" (click)="addItemsToCart(item)">Add to Cart</button>
            </div>
        </div>   
</div>
