.cart-top{
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: cornsilk;
    background-clip: border-box;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.items{
    text-align: center;
    margin: 0px 15px;
}
.items img{
    width: 60px;
    height: 60px;
}
.items a:hover{
    color:blue;
}
.items a{
    text-decoration: none;
    color: black;
}
.card{
    padding: 20px;
    margin: 40px;
}
.card img{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    margin-left: 50px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.itemdata{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
